In [20]:
import pandas as pd
from pathlib import Path

In [21]:
df = pd.read_csv("/Users/abhayduggirala/Desktop/harvard_senior/random/econometrics_game/SchoolClosures/Data/raw/controls/seda_cov_admindist_annual_2024.3.csv")

In [22]:
df.columns

Index(['year', 'sedaadmin', 'fips', 'enrl38', 'avgrd38', 'perfrl', 'perblk',
       'perhsp', 'perasn', 'pernam', 'peroth', 'perwht', 'totenrl', 'sesall',
       'lninc50all', 'baplusall', 'povertyall', 'unempall', 'snapall',
       'single_momall', 'sesavgall', 'lninc50avgall', 'baplusavgall',
       'unempavgall', 'snapavgall', 'povertyavgall', 'single_momavgall',
       'urban', 'suburb', 'town', 'rural', 'in_shape'],
      dtype='object')

In [23]:
keep = ["year", "sedaadmin", 'totenrl', 'perblk', 'lninc50all', 'povertyall', 'unempall', 'urban', 'town', 'suburb', 'rural']

df = df[keep]

df.rename(columns={"totenrl": "enrollment_dist", "perblk": "perc_black", 'lninc50all': "log_median_income", 'povertyall': "poverty_rate", 'unempall': "unemployment_rate"}, inplace=True)

In [ ]:
df = df[df["year"].between(2015, 2019)]

,year,sedaadmin,enrollment_dist,perc_black,log_median_income,poverty_rate,unemployment_rate,urban,town,suburb,rural
6,2015,100005,4965.0,0.025982,10.422993,0.259263,0.050081,0.0,1.0,0.0,0.0
7,2016,100005,5214.0,0.029152,10.350601,0.273199,0.059594,0.0,1.0,0.0,0.0
8,2017,100005,5447.0,0.031944,10.476297,0.275808,0.034160,0.0,1.0,0.0,0.0
9,2018,100005,5562.0,0.036677,10.511621,0.272747,0.023891,0.0,1.0,0.0,0.0
10,2019,100005,5636.0,0.037260,10.640181,0.234952,0.022266,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
279101,2018,5900197,139.0,0.000000,NaN,NaN,NaN,0.0,0.0,0.0,1.0
279102,2019,5900197,131.0,0.000000,NaN,NaN,NaN,0.0,0.0,0.0,1.0
279108,2017,5900200,62.0,0.000000,NaN,NaN,NaN,0.0,0.0,0.0,1.0
279109,2018,5900200,77.0,0.000000,NaN,NaN,NaN,0.0,0.0,0.0,1.0
279110,2019,5900200,68.0,0.000000,NaN,NaN,NaN,0.0,0.0,0.0,1.0

In [ ]:
df_collapsed = df.groupby("sedaadmin").agg({
    "enrollment_dist": "mean",
    "perc_black": "mean",
    "log_median_income": "mean",
    "poverty_rate": "mean",
    "unemployment_rate": "mean",
    "urban": "last",
    "town": "last",
    "suburb": "last",
    "rural": "last"
}).reset_index()

In [27]:
df_collapsed.to_csv("/Users/abhayduggirala/Desktop/harvard_senior/random/econometrics_game/SchoolClosures/Data/clean/admin_district_controls.csv", index=False)